<<<<<<< HEAD
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.section {
    box-sizing: border-box;
    background-color: blue;
    float: left;
    width: 33.33%;
    padding: 20px;
    border: 1px solid #000;
}

.section-title {
    position: relative;
    text-align: right;
    top: 0;
    right: 0;
    background-color: #ddd;
    padding: 5px;
    border: 1px solid #000;
}

/* Media Queries for Tablet View */
@media (max-width: 991px) {
    .section {
        width: 50%;

    }

   .section:nth-child(3n+1) {
        width: 100%;
        clear: both;
    }
}

/* Media Queries for Mobile View */
@media (max-width: 767px) {
    .section {
        width: 100%;
    }
}


